/* .shortcut-menu {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.shortcut-link:hover+.shortcut-menu, .shortcut-menu:hover {
    opacity: 1;
} */

.delete {
    color: var(--destructive);
}